{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous" defer></script>


    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
        <nav class="navbar bg-white navbar-white navbar-expand-lg shadow-sm" >
            <div class="container-fluid">
                <a class="navbar-brand  cHover cGreen fs-2 " href="{% url 'index' %}">
                    HealthyLife
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0  fs-5 align-items-center">
                        <li class="nav-item">
                            <a class="nav-link active cHover" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="{% url 'about' %}">About Us</a>
                        </li>       
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="{% url 'booking' %}">Online Booking</a>
                        </li>                   
                        {% if user.is_authenticated and user.is_staff %}
                        <!--Clinic Staff Link-->
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="{% url 'staffPanel' %}">Staff Panel</a>
                        </li> 
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown me-3 fs-5">
                            <a class="nav-link active dropdown-toggle cHover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Profile
                            </a>
                            <ul class="dropdown-menu  border zNav">
                              <li><a class="dropdown-item" href="{% url 'userPanel' %}">User Info</a></li>
                              <li><hr class=""></li>
                              <li><a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="nav-item me-3">
                            <a class="nav-link active cHover" href="{% url 'login' %}">Sign in/Sign Up</a>
                        </li>
                        {% endif %}
                    </ul>
                                      
                </div>
            </div>
        </nav>
        

        <!--Messages Start-->
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success  alert-dismissible fade show text-center " role="alert">
                <h3 class="display-3">{{ message }}</h3>
                <button type="button" class="btn-close fs-1 position-absolute top-50 start-0 translate-middle-y" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% endif %}
        <!--Messages End-->
    </header>
    <!--Header End-->

    {% block body %}
    {% endblock %}
    <div class="container">
        <footer class="py-5">
          <div class="row">
            <div class="col-6 col-md-2 mb-3">
              <h5>Clinic</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{% url 'index'%}" class="nav-link p-0 text-body-secondary">Home</a></li>
                <li class="nav-item mb-2"><a href="{% url 'about'%}" class="nav-link p-0 text-body-secondary">About Us</a></li>
                <li class="nav-item mb-2"><a href="{% if user.is_authenticated %}{% url 'booking' %}{% else %}#{% endif %}" class="nav-link p-0 text-body-secondary">Booking</a></li>
              </ul>
            </div>
      
            <div class="col-6 col-md-2 mb-3">
              <h5>Clinic Services</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{% if user.is_authenticated %}{% url 'booking' %}{% else %}#{% endif %}" class="nav-link p-0 text-body-secondary">Consultation</a></li>
                <li class="nav-item mb-2"><a href="{% if user.is_authenticated %}{% url 'booking' %}{% else %}#{% endif %}" class="nav-link p-0 text-body-secondary">Follow-up</li>
                <li class="nav-item mb-2"><a href="{% if user.is_authenticated %}{% url 'booking' %}{% else %}#{% endif %}" class="nav-link p-0 text-body-secondary">Health Check-up</a></li>
                <li class="nav-item mb-2"><a href="{% if user.is_authenticated %}{% url 'booking' %}{% else %}#{% endif %}" class="nav-link p-0 text-body-secondary">Vaccination</a></li>
                <li class="nav-item mb-2"><a href="{% if user.is_authenticated %}{% url 'booking' %}{% else %}#{% endif %}" class="nav-link p-0 text-body-secondary">Lab Test</a></li>
                <li class="nav-item mb-2"><a href="{% if user.is_authenticated %}{% url 'booking' %}{% else %}#{% endif %}" class="nav-link p-0 text-body-secondary">Pediatric Check-up</a></li>
              </ul>
            </div>
          </div>
          <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>&copy; HealthyLife Clinic, Inc. All rights reserved.</p>
          </div>
      </div>
</footer>
  </body>
</html>